// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//

// stylelint-disable
$white:  #fff !default;
$gray-100: #fafafa !default; // gray-lightest-o
$gray-200: #f6f6f6 !default; // gray-lightest
$gray-300: #eee !default; // gray-lighter
$gray-400: #ddd !default; // gray-lighter-o
$gray-500: #ccc !default; // gray-light-o
$gray-600: #999 !default; // gray-light
$gray-700: #666 !default; // gray
$gray-800: #595959 !default; // gray-obs
$gray-900: #333 !default; // gray-dark
$black:  #000 !default;

$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$blue:    #527edb !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #cd3c14 !default;
$orange:  #f16e00 !default;
$yellow:  #fc0 !default;
$green:   #32c832 !default;
$teal:    #20c997 !default;
$cyan:    #527edb !default;

$colors: () !default;
$colors: map-merge((
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
), $colors);
